<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:wght@300:400;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/b05beb359a.js" crossorigin="anonymous"></script>
</head>
<body>
        
     <header class="encabezado">
     <div>
    
     <div class="superiorEncabezado">
        <img src="/imagenes/logo-mercado-liebre.svg" class="logo">
        <h2 class="textoDelEncabezado">
             <i class="fa-solid fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tarjeta de crédito
         </h2>
     </div>
     <form class="barrabusqueda" action="/buscar" method="get" >
        <input type="text" name="query" placeholder="Buscar productos, marcas y mas..." />
        <input type="submit" value="Buscar" />
      </form>

       <a href="" class="menuHamburguesa">
        <i class="fa-solid fa-bars"></i> </a> 
     
     <nav class="barras">
            <ul class="barraizquierda" > 
           <li><a href="#">Ofertas  </a> </li>
           <li><a href="#">Tiendas Oficiales </a> </li>
           <li><a href="#">Vender </a> </li>
           <li><a href="#">Ayuda </a> </li>
           <li><a href="./">Volver al inicio </a> </li>
    </ul>
    
  
    <ul class="barraderecha" >
    <li><a href="crearCuenta">Crea tu cuenta </a> <i class="fa-solid fa-address-card"></i></li>
    <li><a href="login"> Ingresá</a> <i class="fa-solid fa-user"></i> </li>
    <li><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i> </a> </li>
    </ul>
    </nav>
      
    </header>

    <main>
    <img src="/imagenes/img-home-banner.jpg" class="baner">
    <h1 class="titulo2" >Basado en tu última visita</h1>
    
    <section class="central" >

    <div>
    <img src="/imagenes/img-cafetera-moulinex.jpg" class="img1">
    <h3 class="precio">$6770</h3>
    <h3 class="descuento">40% off</h3>
    <h3 class="descripcion">Cafetera Moulinex </h3>
    </div>
    
    <div>
    <div><img src="/imagenes/img-macbook-pro-2019.jpg" class="img2"></div>
    <h3 class="precio">$999.999</h3>
    <h3 class="descuento">9% off</h3>
    <h3 class="descripcion">MacBook pro 2019 </h3>
    </div>

    <div>
    <img src="/imagenes/img-samsung-galaxy-s10.jpg" class="img3">
    <h3 class="precio">$179.000</h3>
    <h3 class="descuento">25% off</h3>
    <h3 class="descripcion">Celular Samsung s10 </h3>
    </div>

    

    <div>
        <img src="/imagenes/img-tv-samsung-smart.jpg" class="img4">
        <h3 class="precio">$189.000</h3>
        <h3 class="descuento">15% off</h3>
        <h3 class="descripcion">Tv Samsung 55" Smart 8k </h3>
     </div>

    </section>
      
</main>


<footer class="pie"  >
    
   <div class="titulo1"> <h3> Pagá con tarjeta o en efectivo  <i class="fa-solid fa-credit-card"></i> </h3>
    <br>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés</p> 
    <p>tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
   </div>
   <br>
   <br>
    
    <div h3 class="titulos2"> <h3> Envío gratis desde $2500  <i class="fa-sharp fa-solid fa-truck"></i> </h3>
    <br>
    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis</p>
    <p>en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <br>
    <br>
   <div h3 class="titulos3"> <h3> Seguridad de principio a fin <i class="fa-solid fa-shield"></i> </h3>
    <br>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, </p>
    <p>no hay nada que no puedas hacer, porque estás siempre protegido.</p>
    
</div>
</footer>
<br>
<br>
<br>
<br>

    <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   

</body>
</html>